
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(the-Google-logo-is-seen-in-the-background.jpg);
    background-size: cover;
    background-position: center;
}

#text{
    padding:10px 130px;
    justify-content: center;
    margin-left: 400px;
    height: 40px;
    margin-top: 400px;
    border-radius: 200px;
    marker-start: ;
}
