body{
    background-image: url(/Beginners/portfolio/images/devil-anime-girl-3840x2160-19267.jpg);
    background-size: cover;
}

.header{
    background-color: aqua;
    position: fixed;
}

.header ul{
    display: flex;
    justify-content:center;
}

.header ul li {
    margin: 20px;
    text-decoration: none;
}

.header ul li :hover{
background-color: red;
cursor: pointer;
}
.one{
    text-align: center;
    color: firebrick;
    font-size: xx-large;
    border: 5px solid gray;
    border-style:solid;
    position: relative;
    max-width: 200px;
    padding: 10px -20px;
    left: 550px;
    background-color: bisque;
    transition: ease-in-out;
    
}
.one:hover{
    font-style: oblique;
    transform: scale(1.1);
    transition: ease-in-out;
    animation: blink 1s ease-in-out infinite;transition: ease-out;
    cursor: pointer;
}

@keyframes blink{
    0%{
        background-color: aqua;
    }
    50%{
        background-color: darkgoldenrod;
    }
    100%{
        background-color: tomato;
    }
    150%{
        background-color: saddlebrown;
    }
    200%{
        background-color: steelblue;
    }
}

#two{
    color:gold;
    font-style: italic;
    font-size: xx-large;
}
