.transform{
    background-color: yellow;
    width: 300px;
    height: 100px;
    border: 1px solid black;
    /* transform: translatex(200px); */

}

.transform:hover{
    /* transform: scale(1,0.5); */
    cursor: pointer;
    /* transform: skew(20deg); */
    transform: translate(50px,20px) scale(1.5) rotate(20deg);
    transition: transform 0.5s ease-in-out;
}

/* translate - translate, rotate, scale */

.transition{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
    transition: background-colour 5s ease 5s;
    transition: width 2s, height 4s;
    transition-timing-function: linear;
    transition-timing-function: ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in-out; 
    transition: width 2s, height 2s, transform 2;
    
    
    /* transition-delay: 1s */
    
} 

.transition:hover{
    width: 300px;
    cursor: pointer;
    transition-timing-function: linear;
    background-color: green;
}